:root {
  /* Colors */
  --crimson-deep: #670A18;
  --vanilla-cream: #F0EEDD;
  --charcoal-dusk: #35312E;
  --cotton-soft: #F5F1E9;
  --terracotta-blush: #C87B5E;
  --pure-white: #FFF;
  --sunset-glow: #D37657;
  --mocha-shadow: #4F463F;
  --peach-sand: #E09D81;
  --steel-blue: #748EA1;
  --burnt-sienna: #B76D47;
  --sage-stone: #7D836E;
  --vivid-red: #C33636;
  --linen-warm: #CDC7B3;
  --graphite-gray: #595752;
  --lavender-mist: #D3C2CA;
  --taupe-earth: #6E6259;
  --taupe-smoke: #6E635A;
  --milk-haze: #FCFAF6;
  --linen: #FBF6EA;
  --ivory-cream: #F7F3EB;
  --burnt-orange: #B55900;
  --olive: #5B653B;
  --olive-gray: #6E635A4D;
  --heather-gray: #807C62;

  /* Font Family */
  --font-family-base: Roboto;

  /* Container */
  --container-width: 1440px; /* максимальная ширина для больших экранов */
  --container-padding-x: 48px; /* внутренние отступы слева и справа */
}





